@mixin linear-gradient($angle, $colour-stops...) {

	$to_colour: nth($colour-stops, length($colour-stops));

	background-color: $to_colour; /* Fallback Color */

	background: -webkit-linear-gradient($angle, $colour-stops);
	background: -moz-linear-gradient($angle, $colour-stops);
	background: -o-linear-gradient($angle, $colour-stops);
	background: linear-gradient($angle, $colour-stops);

	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='nth($colour-stops, 1)', EndColorStr='$to_colour');
}